<app-spinner *ngIf="loader"></app-spinner>
<br><br>
<div class="container mt-4">
  <div>
    <span class="titulo">API de Usuários</span>
  </div>
  <hr />
  <div>
    <div class="mb-3">
      <button
        class="btn btn-success"
        data-toggle="modal"
        data-target="#modal"
        (click)="renomearCadastrar()"
      >
        Adicionar
      </button>
      <button class="btn btn-outline-ligth lupa" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <nav class="navbar bg-body-tertiary pr-1">
        <form>
          <input
            class="form-control"
            id="fonte"
            type="search"
            (input)="pegarDados($event, 'email'||'nome')"
            placeholder="Pesquisar"
            aria-label="Search"
          />         
        </form>
      </nav>
    </div>    
  </div>

  <table class="table table-striped ml-2">
    <td><b>Nome</b></td>
    <td><b>Usuário</b></td>
    <td><b>Senha</b></td>
    <td><b>Ações</b></td>

    <tr *ngFor="let dado of lista">
      <td>{{ dado.nome }}</td>
      <td>{{ dado.email }}</td>
      <td>{{ dado.senha }}</td>
      <td>
        <a data-toggle="modal" data-target="#modal" (click)="editar(dado)">
          <i class="fa-solid fa-user-pen text-info mr-2"></i>
        </a>
        <a (click)="dado.usuarioId ? deleteUser1(dado.usuarioId) : null">               
          <i class="fa-solid fa-trash text-danger mr-2"></i>
        </a>
      </td>
    </tr>
  </table>

  <!--Conteúdo da janela modal-->
  <div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputNome">Nome</label>
              <input
                type="text"
                class="form-control"
                (input)="pegarDados($event, 'nome')"
                [value]="nome"
                placeholder="Seu nome"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                type="email"
                class="form-control"
                (input)="pegarDados($event, 'email')"
                [value]="email"
                placeholder="Seu email"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input
                type="text"
                class="form-control"
                (input)="pegarDados($event, 'senha')"
                [value]="senha"
                placeholder="Senha"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              *ngIf="titulo === 'Cadastrar Usuário'"
              (click)="cadastrar()"
              type="button"
              class="btn btn-primary"
            >
              Salvar
            </button>
            <button
              *ngIf="titulo !== 'Cadastrar Usuário'"
              type="button"
              class="btn btn-primary"
              (click)="putUser()"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="fecharModal()"
              data-dismiss="modal"
            >
              Fechar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div>
